/* Enter your custom styles here */
@font-face {
    font-family: "Cintarini";
    src: url("../fonts/Cintarini.tff") format("tff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.myStyle {
    font-size: 3rem;
    color: #ff0000;
    font-weight: 900;
    font-family: Cintarini;
}


.bigButtonYes .sapMBtnInner {
    height: 3rem;
    width: 6rem;
    font-size: 2rem;
    font-display: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255) !important;
    background-color: #19d800 !important;

}

.bigButtonNo .sapMBtnInner {
    height: 3rem;
    width: 6rem;
    font-size: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: rgb(255, 255, 255) !important;
    background-color: #ff0000 !important;
}

